<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <style>
        body{
            background-color: #e1e1ff;
            text-align: center;
        }

        .new{
            margin-top: 100px;
            
        }


    </style>
</head>
<body>
    {{>navbar}}
    <div class="new">

    <div class="text">
        Hello!!! this is the homepage of the site made for _______;
    </div>

    <div class="links">
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </div>

    </div>

</body>
</html>